{% extends "base/base.html.twig" %}

{% block title %} Casu'Hall - Mon espace personnel {% endblock %}

{% block body %}    
    <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" class="mt-3 ms-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home.index')}}" class="text-black">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page"> Mon espace personnel </a></li>
        </ol>
    </nav>

    <div class="container mt-2 mb-5">
        <div class="row justify-content-center gx-4">
            <div class="col-md-4">
                <a href="{{ path('edition.informations.personnelles',{'id': app.user.id}) }}" class="text-decoration-none">
                    <div class="p-4 shadow-lg border border-1 rounded bg-white h-100">
                        <p class="fw-bold text-uppercase text-center fs-5 text-black">Mes informations générales</p>
                        <img src="/assets/images/informations_generales.png" class="d-block mx-auto mt-5 floating-image img-fluid" alt="Informations générales">
                        <p class="text-center mt-4 text-black">Dans cette rubrique, consultez vos coordonnées personnels et déconnectez-vous du site ici.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('edition.change_password',{'id': app.user.id}) }}" class="text-decoration-none">
                    <div class="p-4 shadow-lg border border-1 rounded bg-white h-100">
                        <p class="fw-bold text-uppercase text-center fs-5 text-black">Modifier mon mot de passe</p>
                        <img src="/assets/images/password.png" class="d-block mx-auto mt-5 floating-image img-fluid" alt="Modifier mot de passe">
                        <p class="text-center mt-4 text-black">Modifier votre mot de passe en toute sécurité. </p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('edition.consultCommands',{'id': app.user.id}) }}" class="text-decoration-none">
                    <div class="p-4 shadow-lg border border-1 rounded bg-white h-100">
                        <p class="fw-bold text-uppercase text-center fs-5 text-black">Mes commandes effectuées</p>
                        <img src="/assets/images/commande.png" class="d-block mx-auto mt-5 floating-image img-fluid" alt="Mes commandes effectuées">
                        <p class="text-center mt-4 text-black">Vous retrouverez ici toutes les commandes que vous avez pu passer chez Casu'Hall.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}