/* Classe utilisée pour les icônes */ 
.material-symbols-outlined 
{
    font-variation-settings: 
    'FILL' 1, 
    'wght' 700, 
    'GRAD' 0, 
    'opsz' 48;

    font-size: 32px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Page -> header.html.twig, footer.html.twig */
.img-carrousel
{
    width:64px;
}

.nav-item 
{
    transition: width 1s ease;   
}

.nav-item img:hover
{
    transform: scale(1.1);
}

.liste-effect {
    position: relative;
    text-decoration: none;
    color: black;
}
  
.liste-effect::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: black;
    transition: width 0.5s ease; 
}

.liste-effect:hover::before 
{
    width: 100%;
}

/* Page -> article.html.twig */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Page -> articles-favoris.html.twig */ 
.resize-image
{
    width: 270px; 
    height: 270px;
}

/* Page -> compte.html.twig */
.floating-image {
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Page -> notre-histoire.html.twig */ 
#history-indent
{
    text-indent: 2em;
    text-align: justify;
}